.table th{
    vertical-align: center;
}

.personName{
    display: block;
    font-size:0.8rem;
}

.personJob{
    display: block;
    font-size:0.6rem;
}

.dataDump{
    background-color: rgba(0,0,0,.05);
    border: 1px solid #dee2e6;
    border-radius: 5px;
    width:100%;
    min-height: 150px;

}


